In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')
import statsmodels.api as sm

In [2]:
# includes lab - 

# Handling Data Imbalance in Classification Models

# Cross Validation

# lab-random-forests

In [3]:
data = pd.read_csv('../lab-cross-validation/files_for_lab/Customer-Churn.csv')

In [4]:
data

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.5,No
7039,Female,0,Yes,Yes,72,Yes,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.9,No
7040,Female,0,Yes,Yes,11,No,Yes,No,No,No,No,No,Month-to-month,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,No,No,No,No,No,No,Month-to-month,74.40,306.6,Yes
7042,Male,0,No,No,66,Yes,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.5,No

In [5]:
# change total charges from object to number

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   OnlineSecurity    7043 non-null   object
 7   OnlineBackup      7043 non-null   object
 8   DeviceProtection  7043 non-null   object
 9   TechSupport       7043 non-null   object
 10  StreamingTV       7043 non-null   object
 11  StreamingMovies   7043 non-null   object
 12  Contract          7043 non-null   object
 13  MonthlyCharges    7043 non-null   float64
 14  TotalCharges      7043 non-null   object
 15  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(13)
memory usage: 880.5+ KB

In [6]:
data= data.dropna()
data

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.5,No
7039,Female,0,Yes,Yes,72,Yes,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.9,No
7040,Female,0,Yes,Yes,11,No,Yes,No,No,No,No,No,Month-to-month,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,No,No,No,No,No,No,Month-to-month,74.40,306.6,Yes
7042,Male,0,No,No,66,Yes,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.5,No

In [7]:
data.isna().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [8]:
y = data['Churn']

indep = data.drop(['Churn'], axis = 1)

indep

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.5
7039,Female,0,Yes,Yes,72,Yes,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.9
7040,Female,0,Yes,Yes,11,No,Yes,No,No,No,No,No,Month-to-month,29.60,346.45
7041,Male,1,Yes,No,4,Yes,No,No,No,No,No,No,Month-to-month,74.40,306.6
7042,Male,0,No,No,66,Yes,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.5

In [9]:
indep['TotalCharges'] = pd.to_numeric(indep['TotalCharges'], errors='coerce')

In [10]:
indep.isna().sum()

gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
MonthlyCharges       0
TotalCharges        11
dtype: int64

In [11]:
indep=indep.dropna()

In [12]:
indep

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.50
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.50
7039,Female,0,Yes,Yes,72,Yes,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.90
7040,Female,0,Yes,Yes,11,No,Yes,No,No,No,No,No,Month-to-month,29.60,346.45
7041,Male,1,Yes,No,4,Yes,No,No,No,No,No,No,Month-to-month,74.40,306.60
7042,Male,0,No,No,66,Yes,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.50

In [13]:
indep.astype({'MonthlyCharges':'int64', 'TotalCharges':'int64'}).dtypes

gender              object
SeniorCitizen        int64
Partner             object
Dependents          object
tenure               int64
PhoneService        object
OnlineSecurity      object
OnlineBackup        object
DeviceProtection    object
TechSupport         object
StreamingTV         object
StreamingMovies     object
Contract            object
MonthlyCharges       int64
TotalCharges         int64
dtype: object

In [14]:
indep= pd.get_dummies(indep, drop_first=True)

numerical = indep[['tenure', 'SeniorCitizen', 'MonthlyCharges', 'TotalCharges']]

categorical = indep.drop(['tenure', 'SeniorCitizen', 'MonthlyCharges', 'TotalCharges'], axis=1)

y = pd.get_dummies(y, drop_first=True)
# convert target to numerical

categorical

,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,OnlineSecurity_No internet service,OnlineSecurity_Yes,OnlineBackup_No internet service,OnlineBackup_Yes,DeviceProtection_No internet service,DeviceProtection_Yes,TechSupport_No internet service,TechSupport_Yes,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year
0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,1,0
2,1,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,1,0
4,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,1,1,1,0,1,0,0,0,1,0,1,0,1,0,1,1,0
7039,0,1,1,1,0,0,0,1,0,1,0,0,0,1,0,1,1,0
7040,0,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
7041,1,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7042,1,0,0,1,0,1,0,0,0,1,0,1,0,1,0,1,0,1

In [15]:
# scale numerical cols
# Normalizing data
from sklearn.preprocessing import Normalizer

transformer = Normalizer().fit(numerical)
x_normalized = transformer.transform(numerical)
x_normalized = pd.DataFrame(x_normalized)

In [16]:
x_normalized

             0         1         2         3
0     0.023682  0.000000  0.706908  0.706908
1     0.017983  0.000000  0.030122  0.999384
2     0.016552  0.000000  0.445662  0.895048
3     0.024433  0.000000  0.022967  0.999438
4     0.011952  0.000000  0.422512  0.906279
...        ...       ...       ...       ...
7027  0.012045  0.000000  0.042561  0.999021
7028  0.009777  0.000000  0.014014  0.999854
7029  0.031620  0.000000  0.085085  0.995872
7030  0.012677  0.003169  0.235798  0.971714
7031  0.009641  0.000000  0.015433  0.999834

[7032 rows x 4 columns]

In [17]:
# renaming column
y.columns=['Churn']
y.value_counts()
# data imbalance

Churn
0        5174
1        1869
dtype: int64

In [18]:
data2 = pd.concat([x_normalized, categorical,y], axis=1)
data2

,0,1,2,3,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,OnlineSecurity_No internet service,OnlineSecurity_Yes,OnlineBackup_No internet service,OnlineBackup_Yes,DeviceProtection_No internet service,DeviceProtection_Yes,TechSupport_No internet service,TechSupport_Yes,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,Churn
0,0.023682,0.0,0.706908,0.706908,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0.017983,0.0,0.030122,0.999384,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
2,0.016552,0.0,0.445662,0.895048,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,0.024433,0.0,0.022967,0.999438,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0
4,0.011952,0.0,0.422512,0.906279,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0
7039,NaN,NaN,NaN,NaN,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0
7040,NaN,NaN,NaN,NaN,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
7041,NaN,NaN,NaN,NaN,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
7042,NaN,NaN,NaN,NaN,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0

In [19]:
data2=data2.dropna()
data2

,0,1,2,3,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,OnlineSecurity_No internet service,OnlineSecurity_Yes,OnlineBackup_No internet service,OnlineBackup_Yes,DeviceProtection_No internet service,DeviceProtection_Yes,TechSupport_No internet service,TechSupport_Yes,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,Churn
0,0.023682,0.000000,0.706908,0.706908,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
1,0.017983,0.000000,0.030122,0.999384,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0
2,0.016552,0.000000,0.445662,0.895048,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,0.024433,0.000000,0.022967,0.999438,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0
4,0.011952,0.000000,0.422512,0.906279,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7027,0.012045,0.000000,0.042561,0.999021,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0
7028,0.009777,0.000000,0.014014,0.999854,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0
7029,0.031620,0.000000,0.085085,0.995872,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0
7030,0.012677,0.003169,0.235798,0.971714,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0
7031,0.009641,0.000000,0.015433,0.999834,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0

# Balance data

In [20]:
from imblearn.over_sampling import SMOTE

smote = SMOTE()

y = data2['Churn']

X = data2.drop(['Churn'], axis=1)

X_sm, y_sm = smote.fit_sample(X, y)

unique, counts = np.unique(y_sm, return_counts=True)

print(np.asarray((unique, counts)).T)

[[   0 5155]
 [   1 5155]]

In [21]:
# 5155 yes and nos

In [22]:
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier 
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from scipy.stats import t, norm

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X_sm, y_sm, test_size=0.33)
X_train

,0,1,2,3,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,OnlineSecurity_No internet service,OnlineSecurity_Yes,OnlineBackup_No internet service,OnlineBackup_Yes,DeviceProtection_No internet service,DeviceProtection_Yes,TechSupport_No internet service,TechSupport_Yes,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year
9496,0.013601,0.000734,0.077506,0.996763,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0
2690,0.043018,0.000000,0.029682,0.998633,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.00000,1.0,0.0
2946,0.010120,0.000000,0.019645,0.999756,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.00000,1.0,0.0
5221,0.009285,0.000000,0.014440,0.999853,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.00000,0.0,1.0
7386,0.012739,0.001839,0.191843,0.981329,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8977,0.009489,0.000000,0.030520,0.999489,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.09358,0.0,0.0
923,0.013601,0.000000,0.084899,0.996297,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.00000,0.0,0.0
4078,0.034898,0.000000,0.706676,0.706676,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.00000,1.0,0.0
1295,0.049330,0.000000,0.014084,0.998683,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0
4971,0.040986,0.000000,0.014114,0.999060,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.00000,0.0,1.0

In [25]:
X_train = pd.DataFrame(X_train)
X_test = pd.DataFrame(X_test)

In [27]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

clf = RandomForestClassifier(max_depth=2, random_state=0)

clf.fit(X_train, y_train)

print("The accuracy of the Random forest is: {:4.2f}".format(clf.score(X_test, y_test)))
print()

alpha = 0.05
K = 10

# For cross validation
clf = RandomForestClassifier(max_depth=2, random_state=0)
cross_val_scores = cross_val_score(clf, X_train, y_train, cv=10)

if (K < 30):
    t_critical = abs(t.ppf(alpha, K-1))
    interval = t_critical*(np.std(cross_val_score(clf, X_train, y_train, cv=10))/np.sqrt(K))
else:
    z_critical = abs(norm.ppf(1-alpha/2))
    interval = z_critical*(np.std(cross_val_score(clf, X_train, y_train, cv=10))/np.sqrt(K)) 
    
print("The accuracy of the Random Forest model (CV witk K=10) is: {:4.2f} +/- {:4.2f}".format(np.mean(cross_val_scores),interval))

The accuracy of the Random forest is: 0.73

The accuracy of the Random Forest model (CV witk K=10) is: 0.73 +/- 0.01

In [41]:
# class activity

model1 = DecisionTreeRegressor()
model2 = LogisticRegression()

model_pipeline = [model1, model2]
model_names = ['Regression Tree', 'Logistic Regression']

def confidence_intervals(model_pipeline, model_names, significance = 0.05, K = 10):
    
    # We set the significance level
    alpha = significance

    scores = {}
    
    i=0
    
    for model in model_pipeline:
#         calculates rmse by default
        mean_score = np.mean(cross_val_score(model, X_train, y_train, cv=K))
        
        print(cross_val_score(model, X_train, y_train, cv=K))
        
        if (K < 30):
            t_critical = abs(t.ppf(alpha, K-1))
            interval = t_critical*(np.std(cross_val_score(model, X_train, y_train, cv=K))/np.sqrt(K))
        
        else:
            z_critical = abs(norm.ppf(1-alpha/2))
            interval = z_critical*(np.std(cross_val_score(model, X_train, y_train, cv=K))/np.sqrt(K))
            
        
        scores[model_names[i]] = [mean_score, mean_score - interval, mean_score + interval]
        
        print("The rmse of the {} model is (CV witk K={}) {:4.2f} +/- {:4.2f}".format(model_names[i], K, mean_score, interval))
        
        i = i+1
        
confidence_intervals(model_pipeline,model_names)

[-0.05951403 -0.05691235 -0.03753754 -0.00205368 -0.05404228 -0.05970937
  0.01634939 -0.07355514 -0.0840944  -0.04379396]
The rmse of the Regression Tree model is (CV witk K=10) -0.07 +/- 0.03
[0.77713459 0.7568741  0.78437048 0.77279305 0.75976845 0.74674385
 0.74819103 0.76811594 0.75362319 0.76231884]
The rmse of the Logistic Regression model is (CV witk K=10) 0.76 +/- 0.01

In [ ]:
# Compare the accuracies of the two models.
# rmse of regression tree model is lower than logistic model

# Lab | Random Forests (with SMOTE)

In [ ]:
# Apply the Random Forests algorithm but this time only by upscaling the data using SMOTE.

## Tomeklinks (down sampling)

In [35]:
from imblearn.under_sampling import TomekLinks

tl = TomekLinks('majority')
X_tl, y_tl = tl.fit_sample(X, y)

unique, counts = np.unique(y_tl, return_counts=True)

print(np.asarray((unique, counts)).T)

[[   0 4502]
 [   1 1866]]

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X_tl, y_tl, test_size=0.33)

In [38]:
model1 = DecisionTreeRegressor()
model2 = LogisticRegression()
model3 = KNeighborsRegressor()

model_pipeline = [model1, model2, model3]
model_names = ['Regression Tree', 'Logistic Regression', 'KNN']

def confidence_intervals(model_pipeline, model_names, significance = 0.05, K = 10):
    
    # We set the significance level
    alpha = significance

    scores = {}
    
    i=0
    
    for model in model_pipeline:
#         calculates rmse by default
        mean_score = np.mean(cross_val_score(model, X_train, y_train, cv=K))
        
        print(cross_val_score(model, X_train, y_train, cv=K))
        
        if (K < 30):
            t_critical = abs(t.ppf(alpha, K-1))
            interval = t_critical*(np.std(cross_val_score(model, X_train, y_train, cv=K))/np.sqrt(K))
        
        else:
            z_critical = abs(norm.ppf(1-alpha/2))
            interval = z_critical*(np.std(cross_val_score(model, X_train, y_train, cv=K))/np.sqrt(K))
            
        
        scores[model_names[i]] = [mean_score, mean_score - interval, mean_score + interval]
        
        print("The rmse of the {} model is (CV witk K={}) {:4.2f} +/- {:4.2f}".format(model_names[i], K, mean_score, interval))
        
        i = i+1
        
confidence_intervals(model_pipeline,model_names)

[-0.36493833 -0.15965301 -0.37649577 -0.30511961 -0.30490498 -0.0532595
 -0.13696896 -0.33383361 -0.22850252 -0.51887584]
The rmse of the Regression Tree model is (CV witk K=10) -0.30 +/- 0.07
[0.75644028 0.81030445 0.79156909 0.79859485 0.77985948 0.8501171
 0.75586854 0.80751174 0.78403756 0.76525822]
The rmse of the Logistic Regression model is (CV witk K=10) 0.79 +/- 0.02
[0.1569625  0.25151717 0.22740045 0.20688885 0.21749563 0.38524037
 0.15418886 0.2041092  0.20035654 0.16283138]
The rmse of the KNN model is (CV witk K=10) 0.22 +/- 0.04

In [36]:
# rmse of regression lower